{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick-theme.css' %}">
{% endblock %}

{% block body_id %}home3{% endblock %}
{% block content %}
   <div class="main-content">
        <div class="wrap-banner">
            <!-- category menu  -->
            <div class="container position">
                <div id="show-menu" class="menu-banner d-xs-none dropdown-menu collapse">
                    <div class="tiva-verticalmenu block">
                        <div class="verticalmenu" role="navigation">
                            <ul class="menu level1">
                                {% for category in categories %}
                                <li class="item {% if category.children.all %}parent{% endif %}">
                                    <a href="{% url 'products:filter' filter_type='category' pk=category.id %}" class="hasicon" title="{{ category.title }}">
                                        {% if category.icon %}
                                            <img src="{{ category.icon.url }}" alt="{{ category.title }}">
                                        {% endif %}
                                        {{ category.title }}
                                    </a>

                                    {% if category.children.all %}
                                    <div class="dropdown-menu">
                                        <div class="menu-items">
                                            <ul>
                                                {% for child in category.children.all %}
                                                <li class="item">
                                                    <a href="{% url 'products:filter' filter_type='category' pk=child.id %}" title="{{ child.title }}">
                                                        {{ child.title }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide-show -->
           <div class="slideshow">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider">
                        {% for banner in banners %}
                            <a href="#" title="Slideshow image">
                                <img class="img-responsive"
                                     src="{{ banner.image.url }}"
                                     title="#caption{{ forloop.counter }}"
                                     alt="Slideshowimage">
                            </a>
                        {% empty %}
                        {% endfor %}
                    </div>

                    {% for banner in banners %}
                        {% if forloop.counter == 1 %}
                            <div id="caption1" class="nivo-html-caption">
                                <div class="tiva-caption">
                                    <div class="left-right hidden-xs">
                                        <p class="caption-1">
                                            {{ banner.title|striptags|linebreaksbr }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="caption{{ forloop.counter }}" class="nivo-html-caption caption">
                                <div class="tiva-caption">
                                    <div class="left-right hidden-xs">
                                        <p class="caption-{{ forloop.counter }}">
                                            <span class="text-1">{{ banner.title|linebreaksbr|safe }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">

                        <!-- living room -->
                        <div class="section product-living-room">
                            <div class="container">
                                <div class="row">
                                    <div class="new-arrivals product-tab col">
                                        <div class="tab-content">
                                            <div class="title-tab-content product-tab justify-content-between">
                                                <div class="title-product">
                                                    <h2>{% trans 'Products on Sale' %}</h2>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div id="new" class="tab-pane fade in active show">
                                                    <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                                        {% for deal in deals %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="{% url 'products:detail' deal.product.id %}">
                                                                        <img class="img-fluid image-cover" src="{{ deal.display_image }}" alt="{{ deal.product.title }}">
                                                                        {% if deal.product.images.all|length > 1 %}
                                                                            <img class="img-fluid image-secondary" src="{{ deal.product.images.all.1.image.url }}" alt="{{ deal.product.title }}">
                                                                        {% endif %}
                                                                    </a>

                                                                    {% if deal.deal_price < deal.product.price %}
                                                                        <div class="product-flags discount">
                                                                            -{{ deal.discount_percent }}%
                                                                        </div>
                                                                    {% endif %}

                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            {% for color in deal.product.colors.all %}
                                                                                <a href="#" class="color {{ color.title|lower }}" title="{{ color.title }}"></a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="{% url 'products:detail' deal.product.id %}">{{ deal.product.title }}</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                {% for _ in "12345"|make_list %}
                                                                                    {% if forloop.counter <= deal.product.rating %}
                                                                                        <div class="star filled"></div>
                                                                                    {% else %}
                                                                                        <div class="star"></div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">£{{ deal.deal_price }}</span>
                                                                                {% if deal.deal_price < deal.product.price %}
                                                                                    <del class="regular-price">£{{ deal.product.price }}</del>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        {% in_basket request deal.product.id as is_in_basket %}
                                                                        {% if is_in_basket %}
                                                                            <form action="{% url 'basket:basket_remove' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="remove-from-cart">
                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <form action="{% url 'basket:basket_add' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% endif %}

                                                                        {% in_wishlist request deal.product.id as is_in_wishlist %}
                                                                        {% if is_in_wishlist %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_remove' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_add' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                        <a href="{% url 'products:detail' deal.product.id %}" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% empty %}
                                                        <div class="item text-center">
                                                            <p>{% trans "No deals available" %}</p>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- deal of the day -->
                       <div class="section deal-of-day">
                            <div class="container">
                                <div class="row">
                                    <div class="new-arrivals prodcut-tab col">
                                        <div>
                                            <div class="title-tab-content product-tab">
                                                <div class="title-product text-center">
                                                    <h2>Deal Of The Day</h2>
                                                    <p>Hurry Up, The Same Time Is Not Extended !!!</p>
                                                </div>
                                                <div class="tab-content">
                                                    <div id="deal_of_day" class="slick">
                                                        {% for deal in deals %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="{% url 'products:detail' deal.product.id %}">
                                                                        <img class="img-fluid" src="{{ deal.display_image }}" alt="{{ deal.product.title }}">
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="d-flex justify-content-center" data-time="{{ deal.end_time|date:'c' }}">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="{% url 'products:detail' deal.product.id %}">{{ deal.product.title }}</a>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <span class="price">£{{ deal.deal_price }}</span>
                                                                            <del class="regular-price">£{{ deal.product.price }}</del>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        {% in_basket request deal.product.id as is_in_basket %}
                                                                        {% if is_in_basket %}
                                                                            <form action="{% url 'basket:basket_remove' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="remove-from-cart">
                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <form action="{% url 'basket:basket_add' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% endif %}

                                                                        {% in_wishlist request deal.product.id as is_in_wishlist %}
                                                                        {% if is_in_wishlist %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_remove' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_add' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                        <a href="{% url 'products:detail' deal.product.id %}" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% empty %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid" src="img/product/1.jpg" alt="img">
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">No deals available</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- newsletter -->
                        <div class="section newsletter">
                            <div class="container">
                                <div class="row">
                                    <div class="news-content">
                                        <div class="tiva-modules">
                                            <div class="block">
                                                <div class="title-block">{% trans 'Newsletter' %}</div>
                                                <div class="sub-title">{% blocktrans %}Sign up to our newsletter to get the latest articles, lookbooks voucher codes
                                                    direct to your inbox{% endblocktrans %}</div>
                                                <div class="block-newsletter">
                                                    <form action="#" method="post">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="email" value="" placeholder="{% trans 'Enter Your Email' %}">
                                                            <span class="input-group-btn">
                                                                <button class="effect-btn btn btn-secondary" name="submitNewsletter" type="submit">
                                                                    <span>{% trans 'subscribe' %}</span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <input type="hidden" name="action" value="0">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="block">
                                                <div class="social-content">
                                                    <div id="social-block">
                                                        <div class="social">
                                                            <ul class="list-inline mb-0 justify-content-end">
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Popup newsletter -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'libs/slick-slider/js/slick.min.js' %}"></script>
{% endblock %}